<!DOCTYPE html>
<html>
  <head>
    <title>Curtin Courses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"> Curtin Courses Index </a>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>"> Home </a>
          </li>
        </ul>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
