<!DOCTYPE html>
<html>
  <head>
    <title>Curtin Courses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>
    <%= stylesheet_pack_tag    'styles' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggle" aria-controls="navtoggle" aria-expanded="false" aria-label="Toggle Nav">
        <span class="navbar-toggler-icon"> </span>
      </button>
      
      <div class="collapse navbar-collapse" id="navtoggle">
        <a class="navbar-brand" href="#"> Curtin Courses Index </a>
        <div class="navbar-nav-scroll">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="<%= root_path %>"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= legend_path %>"> Legend </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= info_path %>"> API & Info </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/JacisNonsense/curtin-courses"> Github <i class="fab fa-github"> &nbsp; </i> </a>
            </li>
          </ul>
        </div>
      </div>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item"  style="width: 500px;"> <%= react_component("Search", { baseUrl: root_path, searchUrl: api_search_path }) %> </li>
      </ul>
    </header>

    <div class="container">
      <br />
      <%= yield %>
    </div>
  </body>
</html>
